<ion-tabs tabsPlacement="top">
  <ion-tab tabIcon="md-browsers" [root]="rootPage"></ion-tab>
  <ion-tab tabIcon="md-contacts" [root]="friendsPage"></ion-tab>
  <ion-tab tabIcon="md-home" [root]="rootPage"></ion-tab>
  <ion-tab tabIcon="md-notifications" [root]="notificationsPage"></ion-tab>
  <ion-tab tabIcon="md-menu" [root]="rootPage"></ion-tab>
</ion-tabs>
