<ion-navbar color="primary">
  <ion-buttons left>
    <button ion-button icon-only>
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-buttons>
  <ion-item color="primary">
    <ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-label>
    <ion-input placeholder="Search"></ion-input>
  </ion-item>
  <ion-buttons right>
    <button ion-button icon-only>
      <ion-icon name="chatbubbles"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
