<ion-header>
  <header></header>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item color="active" text-wrap>
      <ion-avatar item-left>
        <ion-img src="assets/imgs/avatar1.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <b>Luis Vilcarromero</b> a compartido tu publicacion
        <ion-note>
          justo ahora
        </ion-note>
      </ion-label>
      <button ion-button clear icon-only item-right>
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-item>
    <ion-item text-wrap>
      <ion-avatar item-left>
        <ion-img src="assets/imgs/avatar1.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <b>Luis Vilcarromero</b> a compartido tu publicacion
        <ion-note>
          justo ahora
        </ion-note>
      </ion-label>
      <button ion-button clear icon-only item-right>
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-item>
    <ion-item text-wrap>
      <ion-avatar item-left>
        <ion-img src="assets/imgs/avatar1.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <b>Luis Vilcarromero</b> a compartido tu publicacion
        <ion-note>
          justo ahora
        </ion-note>
      </ion-label>
      <button ion-button clear icon-only item-right>
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
