<div>
  <ng-container *ngIf="!show;else AllText;">
    {{ text.slice(0,max) }}
  </ng-container>
  <ng-template #AllText >
    {{ text }}
  </ng-template>
  <br>
  <button *ngIf="text.length > max" ion-button clear (click)="showToggle()">Show {{ show ? 'less' : 'more' }}</button>
</div>
