<ion-card *ngIf="post">
  <ion-item>
    <ion-avatar item-left>
      <ion-img [src]="post.avatar"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2><b>{{ post.nick }}</b></h2>
      <ion-note>{{ post.timeago }}</ion-note>
    </ion-label>
    <ion-icon item-right name="ios-more"></ion-icon>
  </ion-item>
  <ion-card-content>
    <expandable [text]="post.description"></expandable>
  </ion-card-content>
  <img *ngIf="post?.img" [src]="post.img"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button clear color="dark" icon-left>
          <ion-icon name="ios-thumbs-up-outline"></ion-icon>
          Like
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear color="dark" icon-left>
          <ion-icon name="ios-text-outline"></ion-icon>
          Comments
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear color="dark" icon-left>
          <ion-icon name="ios-undo-outline"></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
